* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid red;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 2px solid blue;
    /* width: 300px;
    height: 300px; */
    flex: 1 1 25%;
    height: 300px;
}

.box1 {
    background: darkblue;
}

.box2 {
    /* width: 500px;
    height: 500px; */
    background: saddlebrown;
}

@media all and (max-width:500px) {
    .box {
        border: 2px solid blue;
        flex: 1 1 100%;
        height: 300px;
    }

}

@media all and (min-width:501px) and (max-width: 768px) {
    .box {
        border: 2px solid blue;
        flex: 1 1 50%;
        height: 300px;
    }

}