/*--------------------------------------------------------------
	Widgets
--------------------------------------------------------------*/

/*----*****---- << Transitions >> ----*****----*/

.widget ul li:before,
.widget ul li:hover:before,
.widget.widget_archive ul li>a span,
.widget.widget_archive ul li>a:hover span,
.widget.widget_categories ul li>a span,
.widget.widget_categories ul li>a:hover span,
.widget .recent-portfolio-widget ul li a:before,
.widget .recent-portfolio-widget ul li a:after,
.widget.widget_flickr ul li a:before {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}


/*----*****---- << WP Widget Defaults >> ----*****----*/

.widget {
	clear: both;
	float: left;
	position: relative;
	width: 100%;
	-webkit-border-radius: var(--wdtRadius_Zero);
	border-radius: var(--wdtRadius_Zero);
}

.widgettitle,
.widget_block>h2,
.widget .wp-block-search__label,
.widget_block .wp-block-group .wp-block-group__inner-container>h2 {
	clear: both;
	display: inline-block;
	font-size: 1.25rem;
	margin-top: 0;
	margin-bottom: 25px;
	position: relative;
	font-size: clamp(1.25rem, 1.1803rem + 0.3185vw, 1.5625rem);
	/* Min-20 & Max-25 */
	;
}

.widget .wp-block-search__label{
	margin-bottom: 10px;
}

/* .widgettitle:before, .widget_block > h2:before, .widget .wp-block-search__label:before,
	 .widget_block .wp-block-group .wp-block-group__inner-container > h2:before { content:""; height:3px; position:absolute; bottom:0; left:0; width:35px; } */

.widgettitle.aligncenter:before {
	right: 0;
	margin: auto;
}

.widgettitle.alignright {
	margin-left: 0;
}

.widgettitle.alignright:before {
	right: 0;
	left: auto;
}

.widget ul,
.widget ol {
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

.widget ul li,
.widget ol li {
	border-bottom: 1px solid;
	clear: both;
	display: block;
	margin: 0;
	padding: 10px 0 10px 0;
	position: relative;
	width: 100%;
}

.widget .widgettitle+ul>li:first-child,
.widget .widgettitle+ol>li:first-child,
.widget ul li:first-child:not(:only-child),
.widget ol li:first-child:not(:only-child) {
	padding-top: 0;
}

.widget ul li:last-child:not(:only-child),
.widget ol li:last-child:not(:only-child) {
	border-bottom-width: 0;
	padding-bottom: 0;
}

.widget ul li>a,
.widget ol li>a {
	display: inline-block;
	line-height: var(--wdtLineHeight_Base);
	width: 100%;
}

.widget ul li:last-child:not(:only-child)>a,
.widget ol li:last-child:not(:only-child)>a {
	padding-bottom: 0;
}


/* Archives & Categories Widget */
.widget_categories label,
.widget_archive label {
	color: var(--wdtBodyTxtColor);
	display: inline-block;
	font-size: var(--wdtFontSize_Base);
	font-weight: 600;
	margin: 0 0 10px;
	width: 100%;
}

.widget.widget_categories ul li>a {
	position: relative;
	/*text-transform:capitalize;*/
}

/* .widget.widget_categories ul li, .widget.widget_archive ul li { text-align-last: justify; } */
.widget.widget_categories ul li>a,
.widget.widget_archive ul li>a {
	width: auto;
}

.widget.widget_categories ul li>a span,
.widget.widget_archive ul li>a span {
	float: right;
	padding: 0;
}


/* Nav Menu Widget */
.widget.widget_nav_menu ul.menu li:first-child {
	padding-top: 0;
}

.widget.widget_nav_menu ul.menu li>a {
	display: inline-block;
	line-height: var(--wdtLineHeight_Base);
	width: 100%;
}

.widget.widget_nav_menu ul li {
	padding: 0;
}

.widget.widget_nav_menu ul li,
.widget.widget_nav_menu ul li:last-child {
	border-width: 0 !important;
}

.widget.widget_nav_menu ul li a {
	border-bottom: 1px solid;
	padding: 10px 0;
}

.widget.widget_nav_menu ul li a:empty {
	display: none;
}

.widget.widget_nav_menu>div[class*="menu-container"]>ul>li:last-child:not(:only-child)>a {
	border-bottom-width: 0;
	padding-bottom: 0;
}


/* RSS Widget */
.widget_rss h3.widgettitle>a.rsswidget>img {
	display: none;
	margin-right: 5px;
	margin-top: -3px;
}

.widget_rss ul li>a.rsswidget {
	font-weight: var(--wdtFontWeight_Alt);
}

.widget_rss ul li .rssSummary {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.widget_rss ul li .rss-date,
.widget_rss ul li cite {
	font-size: 0.8em;
}

/* TagCloud Widget */
.widget_tag_cloud .tagcloud,
.widget .tagcloud {
	float: left;
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
}

.widget_tag_cloud .tagcloud a,
.widget .tagcloud a,
.wp-block-tag-cloud a {
	float: left;
	font-size: 14px !important;
	line-height: normal;
	margin: 0 10px 10px 0;
	padding: clamp(0.5rem, 0.4721rem + 0.1274vw, 0.625rem) 13px;
	-webkit-border-radius: var(--wdtRadius_Zero);
	border-radius: var(--wdtRadius_Zero);
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.wp-block-tag-cloud a {
	display: inline-block;
	float: none;
}

.wp-block-tag-cloud a:not(:focus) {
	text-decoration: none;
}


/* Search Form */
.widget #searchform {
	margin-bottom: 5px;
	max-width: 100%;
	position: relative;
	width: 100%;
}

.widget #searchform .wdt-search-icon {
	display: none;
}

.widget #searchform input[type="text"] {
	padding-right: 50px;
	height: 49px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid var(--wdtBorderColor);
	border-radius: var(--wdtRadius_Zero);
	color: var(--wdtHeadAltColor);
}

.widget #searchform input[type="submit"] {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	height: 49px;
}

.widget #searchform:hover input[type="submit"] {
	background: var(--wdtPrimaryColor);
}

.widget_block .wp-block-search {
	margin-bottom: 0;
}

.widget_block .wp-block-search .wp-block-search__inside-wrapper {
	flex-wrap: wrap;
}

.widget_block .wp-block-search__label {
	color: var(--wdtHeadAltColor);
	font-family: var(--wdtFontTypo_Alt);
	font-weight: var(--wdtFontWeight_Alt);
	line-height: var(--wdtLineHeight_Alt);
}

.widget_block .wp-block-search .wp-block-search__button {
	margin-bottom: 0;
}


/* WP-Calendar Widget */
.widget #wp-calendar {
	border-collapse: collapse;
}

.widget #wp-calendar caption {
	font-size: var(--wdtFontSize_Base);
	font-weight: 600;
	margin-top: -0.35em;
	margin-bottom: 10px;
}

.widget #wp-calendar td {
	padding: 0.5em 0;
	border-color: VAR(--wdtBorderColor);
}

.widget #wp-calendar td#next {
	text-align: right;
}

.widget #wp-calendar td#prev {
	text-align: left;
}

.widget.widget_calendar .wp-calendar-nav {
	display: flex;
	justify-content: space-between;
}

.widget.widget_calendar .wp-calendar-nav span.pad {
	display: none;
}


/* Block Widgets */
.widget.widget_block .wp-block-calendar,
.widget.widget_block .wp-block-archives-dropdown,
.widget.widget_block .wp-block-categories-dropdown,
.widget.widget_block .wp-block-latest-comments__comment-excerpt>*:last-child {
	margin-bottom: 0;
}

.widget.widget_block .wp-block-calendar table caption,
.widget.widget_block .wp-block-calendar table tbody {
	color: var(--wdtBodyTxtColor);
}

.widget.widget_block .wp-block-archives-dropdown>label:first-child+select,
.widget.widget_block .wp-block-archives-dropdown>label:first-child+select+.select2-container,
.widget.widget_block .wp-block-categories-dropdown>label:first-child+select,
.widget.widget_block .wp-block-categories-dropdown>label:first-child+select+.select2-container {
	margin-bottom: 0;
}

.widget.widget_block .wp-block-archives-dropdown label:not(.screen-reader-text),
.widget.widget_block .wp-block-categories-dropdown label:not(.screen-reader-text) {
	margin-top: -0.35em;
	vertical-align: top;
}

/* .widget.widget_block .wp-block-latest-posts.wp-block-latest-posts__list .wp-block-latest-posts__post-excerpt, 
    .widget.widget_block .wp-block-latest-comments li.wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt { font-size: 0.9em; line-height: var(--wdtLineHeight_Base); } */

.widget.widget_block .wp-block-latest-posts.wp-block-latest-posts__list li:last-child .wp-block-latest-posts__post-excerpt {
	margin-bottom: 0;
}

.widget.widget_block .wp-block-latest-posts.wp-block-latest-posts__list .wp-block-latest-posts__post-excerpt {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.widget.widget_block .wp-block-loginout form>p.login-remember label {
	display: inline-flex;
	vertical-align: top;
}

.widget.widget_block .wp-block-loginout form>p.login-remember label input#rememberme {
	margin-right: 8px;
}

.widget.widget_block .wp-block-loginout form>p:last-child {
	margin-bottom: 0;
}

.widget.widget_block .wp-block-social-links li.wp-social-link {
	float: none;
	width: auto;
	padding: 0;
}

.widget.widget_block .wp-block-social-links li.wp-social-link a {
	display: inherit;
	line-height: 0;
	padding: .25em;
}


/* search unit test */
.widget_block .wp-block-search__label {
    color: var(--wdtHeadAltColor);
    font-family: var(--wdtFontTypo_Alt);
    font-weight: var(--wdtFontWeight_Alt);
    line-height: var(--wdtLineHeight_Alt);
}

.widget_block .wp-block-search .wp-block-search__inside-wrapper {
	position: relative;
}

.widget_block .wp-block-search .wp-block-search__button {
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: auto;
    height: 49px;
    width: 50px;
    font-size: 0;
    -webkit-mask-image:  url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M41.1,79.7c-21.3,0-38.6-17.3-38.6-38.6c0-21.3,17.3-38.6,38.6-38.6c21.3,0,38.6,17.3,38.6,38.6 C79.7,62.4,62.4,79.7,41.1,79.7L41.1,79.7z M41.1,9.3C23.6,9.3,9.3,23.6,9.3,41.1c0,17.5,14.2,31.7,31.7,31.7 c17.5,0,31.7-14.2,31.7-31.7C72.8,23.6,58.6,9.3,41.1,9.3z'/%3E%3Cpath d='M93.9,97.5c-0.9,0-1.8-0.3-2.5-1L62.9,68c-1.4-1.4-1.4-3.6,0-5c1.4-1.4,3.6-1.4,5,0l28.5,28.5c1.4,1.4,1.4,3.6,0,5 C95.8,97.2,94.8,97.5,93.9,97.5z'/%3E%3C/g%3E%3C/svg%3E%0A");
   -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 18px;
    mask-image:  url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M41.1,79.7c-21.3,0-38.6-17.3-38.6-38.6c0-21.3,17.3-38.6,38.6-38.6c21.3,0,38.6,17.3,38.6,38.6 C79.7,62.4,62.4,79.7,41.1,79.7L41.1,79.7z M41.1,9.3C23.6,9.3,9.3,23.6,9.3,41.1c0,17.5,14.2,31.7,31.7,31.7 c17.5,0,31.7-14.2,31.7-31.7C72.8,23.6,58.6,9.3,41.1,9.3z'/%3E%3Cpath d='M93.9,97.5c-0.9,0-1.8-0.3-2.5-1L62.9,68c-1.4-1.4-1.4-3.6,0-5c1.4-1.4,3.6-1.4,5,0l28.5,28.5c1.4,1.4,1.4,3.6,0,5 C95.8,97.2,94.8,97.5,93.9,97.5z'/%3E%3C/g%3E%3C/svg%3E%0A");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 18px;
}

.widget_block .wp-block-search .wp-block-search__inside-wrapper input[type="search"] {
    padding:12px 60px 12px 15px;
    padding-right: 50px;
    height: 49px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--wdtBorderColor);
    border-radius: var(--wdtRadius_Zero);
    color: var(--wdtHeadAltColor);
}

.widget_block .wp-block-search .wp-block-search__inside-wrapper input[type="search"]:focus{
	border-color: var(--wdtPrimaryColor);
}

.widget_block .wp-block-search .wp-block-search__button > svg {
    opacity: 0;
}

.widget_block .wp-block-search .wp-block-search__button:hover{
	background-color: var(--wdtPrimaryColor);
}




/*----*****---- << Common & Custom Widget Styles >> ----*****----*/

/* Common Styles */

.widget.widget_archive ul ul li:last-child,
.widget.widget_categories ul ul li:last-child,
.widget.widget_meta ul ul li:last-child,
.widget.widget_nav_menu ul.menu ul li:last-child,
.widget.widget_pages ul ul li:last-child {
	border-bottom-width: 1px;
}

.widget.widget_nav_menu ul li ul.sub-menu,
.widget.widget_pages ul li ul.children,
.widget.widget_block .wp-block-page-list li ul.submenu-container {
	padding-left: 5%;
	width: 100%;
}

.widget.widget_archive ul li ul,
.widget.widget_categories ul li ul,
.widget.widget_nav_menu ul.menu li ul,
.widget.widget_pages ul li ul,
.widget.widget_block .wp-block-page-list li ul.submenu-container {
	padding-left: 5%;
	padding-top: 0;
}

.widget.widget_archive ul li,
.widget.widget_categories ul li,
.widget.widget_nav_menu ul.menu li,
.widget.widget_pages ul li,
.widget.widget_meta ul li,
.widget.widget_text ul li,
.widget.widget_block .wp-block-page-list li {
	padding: 0;
}

.widget.widget_archive ul li>a,
.widget.widget_categories ul li>a,
.widget.widget_nav_menu ul.menu li>a,
.widget.widget_pages ul li>a,
.widget.widget_meta ul li>a,
.widget.widget_text ul li>a,
.widget.widget_block .wp-block-page-list li>a {
	padding: 10px 0;
}

.widget.widget_archive ul li:first-child>a,
.widget.widget_categories ul li:first-child>a,

.widget.widget_pages ul li:first-child>a,
.widget.widget_nav_menu ul.menu li:first-child>a,
.widget.widget_meta ul li:first-child>a,
.widget.widget_text ul li:first-child>a,
.widget.widget_block .wp-block-page-list li:first-child>a {
	padding-top: 0;
}

.widget.widget_archive ul ul.children li>a,
.widget.widget_archive ul ul.children li:first-child>a,
.widget.widget_categories ul ul.children li>a,
.widget.widget_categories ul ul.children li:first-child>a,
.widget.widget_nav_menu ul ul.children li>a,
.widget.widget_nav_menu ul ul.children li:first-child>a,
.widget.widget_nav_menu ul ul.sub-menu li>a,
.widget.widget_nav_menu ul ul.sub-menu li:first-child>a,
.widget.widget_pages ul ul.children li>a,
.widget.widget_pages ul ul.children li:first-child>a,
.widget.widget_block .wp-block-page-list li ul.submenu-container li>a,
.widget.widget_block .wp-block-page-list li ul.submenu-container li:first-child>a {
	padding-top: 10px;
}

.widget.widget_archive ul ul.children li>a,
.widget.widget_archive ul ul.children li:last-child>a,
.widget.widget_categories ul ul.children li>a,
.widget.widget_categories ul ul.children li:last-child>a,
.widget.widget_nav_menu ul ul.children li>a,
.widget.widget_nav_menu ul ul.children li:last-child>a,
.widget.widget_nav_menu ul ul.sub-menu li>a,
.widget.widget_nav_menu ul ul.sub-menu li:last-child>a,
.widget.widget_pages ul ul.children li>a,
.widget.widget_pages ul ul.children li:last-child>a,
.widget.widget_block .wp-block-page-list li ul.submenu-container li>a,
.widget.widget_block .wp-block-page-list li ul.submenu-container li:last-child>a {
	padding-bottom: 10px;
}

.widget.widget_block .wp-block-page-list li ul.submenu-container li:last-child {
	border-bottom-width: 1px;
}


.widget .recent-posts-widget li:before,
.widget .recent-posts-widget li:hover:before,
.widget .recent-portfolio-widget ul li:before,
.widget .recent-portfolio-widget ul li:hover:before {
	content: "";
}

.widget.widget_media_video .mejs-layers .mejs-overlay-button {
	background-color: transparent;
}

.widget_recent_entries ul li>a {
	width: auto;
}

.widget.widget_recent_posts .recent-posts-widget .entry-title h4 a[href*="title-should-not-overflow-the-content-area"] {
	word-break: break-all;
}

.widget.widget_recent_posts .recent-posts-widget .entry-title h4 {
	font-size: var(--wdtFontSize_Base);
}

/* .widget.widget_recent_posts .recent-posts-widget ul li:first-child .entry-image { top: 6px; }
	.widget.widget_recent_posts .recent-posts-widget .entry-image { position: absolute; max-width: 65px; top: 18px; }
	.widget.widget_recent_posts .recent-posts-widget .entry-image ~ *[class*="entry-"] { padding-left: 80px; }
	.widget.widget_recent_posts .recent-posts-widget .entry-image ~ *[class*="entry-"] h4 { margin-top: 10px; } */

.widget_recent_comments ul li.recentcomments>a {
	font-family: var(--wdtFontTypo_Alt);
	font-weight: 600;
	line-height: var(--wdtLineHeight_Alt);
}

.widget_recent_comments ul li.recentcomments .comment-author-link a {
	font-weight: 500;
}

.widget_text form .selection-box+br:last-child {
	display: none;
}

.widget>p:last-child,
.widget>p:only-child,
.widget .plugin-description>p:last-child,
.widget .plugin-description>p:only-child {
	margin-bottom: 0;
}

.widget .select2-container {
	margin-bottom: 5px;
}

.widget:not(.widget_text) a:not(:focus) {
	text-decoration: none;
}


/*--------------------------------------------------------------
	Colors
--------------------------------------------------------------*/

.widget ul li,
.widget ol li,
.widget.widget_nav_menu ul.menu li,
.widget.widget_nav_menu ul li a {
	border-color: var(--wdtBorderColor)
}

.widget #wp-calendar td a {
	color: rgba(var(--wdtHeadAltColorRgb), 0.5);
}

.widget_tag_cloud .tagcloud a,
.widget .tagcloud a,
.wp-block-tag-cloud a {
	background: var(--wdtHeadAltColor);
	color: var(--wdtAccentTxtColor);
}

.wdt-dark-bg .widget input[type="text"],
.wdt-dark-bg .widget input[type="password"],
.wdt-dark-bg .widget input[type="email"],
.wdt-dark-bg .widget input[type="url"],
.wdt-dark-bg .widget input[type="tel"],
.wdt-dark-bg .widget input[type="number"],
.wdt-dark-bg .widget input[type="range"],
.wdt-dark-bg .widget input[type="date"],
.wdt-dark-bg .widget textarea,
.wdt-dark-bg .widget input[type="search"],
.wdt-dark-bg .widget select,
.wdt-dark-bg .widget.widget_categories ul li>a span,
.wdt-dark-bg .widget.widget_archive ul li>a span {
	background: rgba(var(--wdtBodyBGColorRgb), 0.15);
}

.wdt-dark-bg .widget .selection-box:before {
	border-top-color: rgba(var(--wdtBodyBGColorRgb), 0.15);
}

.wdt-dark-bg .widget .selection-box:after {
	background: rgba(var(--wdtBodyBGColorRgb), 0.05);
}

.wdt-dark-bg .widget ul li,
.wdt-dark-bg .widget.widget_nav_menu ul.menu li {
	border-color: var(--wdtBorderColor);
}

.wdt-dark-bg .widget #wp-calendar td a {
	color: rgba(var(--wdtAccentTxtColorRgb), 0.5);
}

.wdt-dark-bg .tagcloud a {
	background: rgba(var(--wdtBodyBGColorRgb), 0.15);
}

.tagcloud a:hover,
.wp-block-tag-cloud a:hover,
#footer .wdt-dark-bg .tagcloud a:hover,
#footer .tagcloud a:hover {
	color: var(--wdtAccentTxtColor) !important;
}

.widget #searchform:hover:before {
	color: var(--wdtAccentTxtColor);
}

/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

/* Primary Color */
.widget ul li>a:hover,
.widget .recent-posts-widget li .entry-meta p span,
.widget #wp-calendar td a:hover,

.wdt-dark-bg .widget #wp-calendar td a:hover {
	color: var(--wdtPrimaryColor);
}

.widgettitle:before,
.widget_block>h2:before,
.widget .wp-block-search__label:before,
.widget_block .wp-block-group .wp-block-group__inner-container>h2:before,
.tagcloud a:hover,
.wp-block-tag-cloud a:hover,

.wdt-dark-bg .widget.widget_categories ul li>a:hover span,
#footer .wdt-dark-bg .widget.widget_categories ul li>a:hover span,
#footer .wdt-dark-bg .widget.widget_archive ul li>a:hover span,
.wdt-dark-bg .tagcloud a:hover {
	background-color: var(--wdtPrimaryColor);
}


.tagcloud a:hover,
.wp-block-tag-cloud a:hover,
.wdt-dark-bg .tagcloud a:hover {
	border-color: var(--wdtPrimaryColor);
}

/* Unit Test */

.widget .wp-block-page-list li ul, 
.widget.widget_archive ul li ul, 
.widget.widget_categories ul li ul, 
.widget.widget_nav_menu ul.menu li ul, 
.widget.widget_pages ul li ul{
	padding-left: 5%;
	padding-top: 0;
}
.widget .wp-block-page-list li.has-child ul{
	padding-top: 10px;
}

.wc-block-grid__product.wc-block-grid__product {
	border: 0;
}



/*--------------------------------------------------------------
	Responsive
--------------------------------------------------------------*/


@media only screen and (min-width:1025px) and (max-width:1280px) {

	.tagcloud a {
		margin: 0 4px 10px 0;
	}

	.widget #searchform input[type="text"] {
		font-size: 12px;
		padding-left: 12px;
	}

	.widget #searchform input[type="submit"] {
		padding: 0
	}

	.widget #searchform:before,
	.widget #searchform input[type="submit"] {
		width: 40px;
	}

}

@media only screen and (min-width:768px) and (max-width:1024px) {

	.widgettitle {
		font-size: 20px;
	}

	.tagcloud a {
		margin: 0 4px 10px 0;
	}

}


@media only screen and (max-width: 767px) {

	.tagcloud a {
		margin: 0 5px 10px 0;
	}

}