/*--------------------------------------------------------------
    Totop
--------------------------------------------------------------*/

#back-to-top {
    position: fixed;
    display: none;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
    overflow: visible;
    width: 55px;
    height: 55px;
    border: none;
    text-indent: 100%;
    z-index: 9;
    text-indent: -9999px;
    mix-blend-mode: difference;
}

.back-to-top-icon {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: var(--wdtAccentTxtColor);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
    text-indent: 0;
    text-align: center;
    font-size: clamp(2.8125rem, 2.6047rem + 0.694vw, 3.4375rem);/*45-55px*/
    line-height: 1;
}

.back-to-top-icon i:before { margin: 0; }

/* #back-to-top:hover .back-to-top-icon {
    margin-top: -4px;
} */

#back-to-top:after {
    content: "";
    display: block;
    height: 8px;
    margin: 0 auto;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 8px;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    text-indent: 0;
    width: 8px;
    border-top : 2px solid var(--wdtHeadAltColor);
    border-left: 2px solid var(--wdtHeadAltColor);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}


span.back-to-top-icon-1 {
    display: block;
    position: absolute;
    left: -40px;
    right: 0;
    margin: 0 auto;
    bottom: -25%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: var(--wdtAccentTxtColor);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
    text-indent: 0;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    opacity: 0;

}
#back-to-top:hover span.back-to-top-icon-1 {
    opacity: 1;
}

span.back-to-top-icon-2 {
    display: block;
    position: absolute;
    left: 0;
    right: -25px;
    margin: 0 auto;
    top: 5%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: var(--wdtAccentTxtColor);
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear;
    text-indent: 0;
    text-align: center;
    font-size: 15px;
    line-height: 1;
    opacity: 0;
    mix-blend-mode: difference;
}
#back-to-top:hover span.back-to-top-icon-2 {
    opacity: 1;
}

/*--------------------------------------------------------------
Accents
--------------------------------------------------------------*/


/* Primary */
#back-to-top { background-color: transparent; }

/* Secondary */
#back-to-top:hover { background-color: transparent; }


/*--------------------------------------------------------------
Responsive
--------------------------------------------------------------*/

@media only screen and (max-width: 1280px) {

    .nav-is-visible #back-to-top {
        opacity: 0;
    }
}