.wdt-interactive-showcase-container { display: grid;    width: auto; align-items: center; overflow: hidden;}
.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper,
.wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper { flex: 1;  grid-area: 1/-1;}

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper { z-index: 1;height: 100%;}

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list { display: grid;grid-template-columns: repeat(4,1fr); padding: 0; margin: 0;height: 100%;}
.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li { list-style-type: none; padding: clamp(3.125rem, 2.2917rem + 1.7361vw, 4.375rem) clamp(1.25rem, -0.1816rem + 2.2346vw, 2.5rem);/*50-70px -- 20-40px*/ position: relative; margin: 0; border-right: 1px solid rgba(var(--wdtAccentTxtColorRgb),0.3);overflow: hidden;}
.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li:not(:last-child) { margin-bottom: 0; }

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li > * { position: relative; }
.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li .wdt-content-title { 
    font-size: clamp(1.875rem, 1.457rem + 1.9108vw, 3.75rem); font-weight: var(--wdtFontWeight_H1); 
    line-height: var(--wdtLineHeight_H1);
    display: flex;
}

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li a .wdt-interactive-showcase-content-wrapper i{
    margin-right: 15px;
    position: relative;
    top: 10px;
    opacity: 0;
    -webkit-transition: var(--wdtAltTransition);
    transition: var(--wdtAltTransition);
}

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li .wdt-content-title:after { 
    content: '';
    margin-left: 15px;
    position: relative;
    top: 20px;
    display: block;
    width: 16px;
    height: 16px;
    -webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M92.3,65.8l-7.6,13.1L54.4,57.5l3.4,36.8H42.3l3.5-36.8L15.5,78.8L7.7,65.8L41.4,50L7.7,34.4l7.8-13.2l30.4,21.3L42.3,5.6 h15.5l-3.4,36.8l30.2-21.3l7.6,13.2L58.8,50L92.3,65.8z'/%3E%3C/g%3E%3C/svg%3E%0A");
    mask-image:  url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M92.3,65.8l-7.6,13.1L54.4,57.5l3.4,36.8H42.3l3.5-36.8L15.5,78.8L7.7,65.8L41.4,50L7.7,34.4l7.8-13.2l30.4,21.3L42.3,5.6 h15.5l-3.4,36.8l30.2-21.3l7.6,13.2L58.8,50L92.3,65.8z'/%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background: currentColor;
    opacity: 0;
    -webkit-transition: var(--wdtAltTransition);
    transition: var(--wdtAltTransition);
}

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li.wdt-interactive-showcase-active .wdt-content-title:after,
.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li.wdt-interactive-showcase-active a .wdt-interactive-showcase-content-wrapper i{
    opacity: 1;
}


.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li a{
    height: 100%;
    display: flex;
    align-items: end;
    color: var(--wdtAccentTxtColor);
}


.wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper .wdt-content-item .wdt-media-image-cover .wdt-content-image-wrapper .wdt-content-image img { width: 100vw; }
.wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper .wdt-content-item .wdt-media-image-cover > .wdt-media-image-cover-container { padding: 0; }
.wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper .wdt-content-item .wdt-content-button > a { display: inline-flex; align-items: center;
    text-transform: uppercase; letter-spacing: var(--wdtLetterspacing_2x); padding: clamp(1.25rem, 0.5288rem + 3.2051vw, 4.375rem) clamp(1.5rem, 0.6923rem + 3.5897vw, 5rem); }

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li > .wdt-interactive-showcase-content-group { 
    display: grid; grid-template-columns: 112px 1fr; gap: 40px; align-items: center; }
.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li > .wdt-interactive-showcase-content-group a.wdt-interactive-showcase-element {
    grid-column: 1/3; }

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li > .wdt-interactive-showcase-content-group .wdt-content-image,
.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li > .wdt-interactive-showcase-content-group .wdt-content-image img { 
    width: 110px; height: 110px; border-radius: 50%; }

.wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper { position: relative; display: grid; }
.wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper div[id*="wdt-interactive-showcase-"] { 
    grid-area: 1/-1; -webkit-transition: var(--wdtAltTransition);  transition: var(--wdtAltTransition); }


.wdt-interactive-showcase-container:before{
   content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--wdtHeadAltColor);
  z-index: 1;
  opacity: 0.3;
}

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li:before {
   content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: var(--wdtPrimaryColor);
   visibility: hidden;-webkit-transform: scaleY(0); transform: scaleY(0); transform-origin: top; z-index: 0; -webkit-transition: var(--wdt-Ad-Transition); transition: var(--wdt-Ad-Transition); opacity:0.35;}

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li:hover:before,
.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li.wdt-interactive-showcase-active:before {
   -webkit-transform: scale(1); transform: scale(1); visibility: visible;  }


.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li a .wdt-interactive-showcase-content-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    -webkit-transition: var(--wdt-Ad-Transition);
    transition: var(--wdt-Ad-Transition);
    border: 1px solid transparent;
    border-radius: var(--wdtRadius_Full);
    padding: 25px 10px;
    margin-bottom: 30px
}


.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li:hover a .wdt-interactive-showcase-content-wrapper,
.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li.wdt-interactive-showcase-active a .wdt-interactive-showcase-content-wrapper{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    border: 1px solid var(--wdtAccentTxtColor);
}

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li a .wdt-interactive-showcase-content-group{
    -webkit-transform: translateX(70%);
    transform: translateY(70%);
    transition: var(--wdt-Ad-Transition);
}


.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li:hover a .wdt-interactive-showcase-content-group,
.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li.wdt-interactive-showcase-active a .wdt-interactive-showcase-content-group{
    -webkit-transform: translateX(0%);
    transform: translateY(0%);
}

.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li a .wdt-interactive-showcase-content-group .wdt-content-description{
    opacity: 0;
    -webkit-transition: var(--wdtAltTransition);
    transition: var(--wdtAltTransition);
    text-align: inherit;
    margin-bottom: 20px;
}


.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li:hover a .wdt-interactive-showcase-content-group .wdt-content-description,
.wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li.wdt-interactive-showcase-active a .wdt-interactive-showcase-content-group .wdt-content-description{
    opacity: 1;
}

.wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper,
.wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper div[id*="wdt-interactive-showcase-"] * { height: 100%;}

.wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper div[id*="wdt-interactive-showcase-"] .wdt-content-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: var(--wdtAltTransition);
}

.wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper div[id*="wdt-interactive-showcase-"].wdt-interactive-showcase-active .wdt-content-image img{
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
} 

@media only screen and (min-width:1281px) and (max-width:1540px) {
    .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li{
        padding: 50px 10px;
    }
}

@media  only screen and (max-width:1280px){
    .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list { 
        grid-template-columns: repeat(2,1fr);
    }
    .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li{
        border: 1px solid rgba(var(--wdtAccentTxtColorRgb),0.3);
        border-bottom: 0px;
        border-left: 0px;
    }
    .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li a .wdt-interactive-showcase-content-group,
    .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li a .wdt-interactive-showcase-content-group{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    
    .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li a .wdt-interactive-showcase-content-group .wdt-content-description,
    .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li .wdt-content-title:after,
    .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li a .wdt-interactive-showcase-content-wrapper i{
        opacity: 1;
    }
}

@media  only screen and ( max-width: 1024px) {
    .wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper { flex: 1 1 100%; /*! padding: 20px; */ }
    .wdt-interactive-showcase-container .wdt-interactive-showcase-content-wrapper div[id*="wdt-interactive-showcase-"] { position: relative; } 
}

@media  only screen and (max-width: 767px) {
  
    .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list { 
        grid-template-columns: 1fr;
    }
}

@media  only screen and (max-width: 479px) {
    .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li > .wdt-interactive-showcase-content-group {
        display: grid; grid-template-columns: 1fr; gap: 10px; align-items: center; }
}